!!! 5
html
  head
    meta(charset='utf-8')
    title= document.title 
    link(rel='shortcut icon', href='/ico/favicon.ico')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css')
  body
    .main
      .info-tiny
        a(href='/') 
          img(src="https://secure.gravatar.com/avatar/d924ad2ac22af6216aadd2e9184616de?s=420")
        h1.first
          a(href='/') Gorgi Kosev
        p.subtitle code, music, math
      .info
        a(href='/') 
          img(src="https://secure.gravatar.com/avatar/d924ad2ac22af6216aadd2e9184616de?s=420")
        h1.first 
          a(href='/') Gorgi Kosev
        p.subtitle code, music, math
        p.subtitle.margin
          a(href='http://twitter.com/spion')@spion
      .rest!=content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script(src='http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js')
    script.
      $('code').addClass('prettyprint');
      prettyPrint();
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42872676-1', 'spion.github.io');
      ga('send', 'pageview');

